@font-face {
    font-family: titleFont;
    src: url(../fonts/Kanit/Kanit-Bold.ttf);
}

@font-face {
    font-family: regularFont;
    src: url(../fonts/Kanit/Kanit-Regular.ttf);
}

html,
body {
    height: 100%;
    font-family: regularFont; 
    -webkit-app-region: no-drag;
    margin:0;
    color:white;
    position:relative;
    min-width: 330px;
}

.custom-scroll::-webkit-scrollbar-track
{
	background-color: #222;
}

.custom-scroll::-webkit-scrollbar
{
    width: 12px;
    float:left;
	background-color: #222;
}

.custom-scroll::-webkit-scrollbar-thumb
{
	background-color: #555;
}

.custom-scroll {
    overflow-y: scroll;
    height:100%;
}