

#workspace {
    display:flex;
    height: 100% ;
}

.book {
    width:80px; 
    height: 80px; 
    background-size:80px; 
    margin: auto;
    cursor: pointer;
}

#menu {

    background-color:#444;
    display: flex;
    display: inline-block;
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 250px;
}

#desktop {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100px;
}

ul {
    text-align: right;
    list-style-type: none;
}

li {
    padding-right:40px;
    padding-bottom:20px;
    padding-top:20px;
    padding-left:100px;
    list-style-position:inside;
    border: 1px solid #555;
    margin:0px 0;
    cursor: pointer;
}

li:hover {
    background-color:#555
}